body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 25px;
  font-family: sans-serif;
  background: #f2f2f2;
}

.container {
  padding: 20px;
  background: #fff;
}

#decreaseBtn,
#increaseBtn,
#resetBtn {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  text-transform: capitalize;
}

.Count-label-div {
  text-align: center;
  margin-top: 10px;
}
